* {
    --color-rich-green: #083D38;
    --color-black-1: #222222;
    --color-blac-2: #1C1C1C;
    --color-smoky-gray-blue: #F2F3F8;
    --color-white-1: #F8F8F8;
    --color-red-2: #EA3939;
    --color-red-1: #CE6644;
    --color-pale-sandy: #E2BDB2;
    --color-gray-title-preview: #DFDFDF;
    --color-gray-2: #D0D0D0;
    --color-gray-3: #DEDEDE;
    --color-gray-4: #AAAAB2;
    --color-gray-5: #818181;
    --color-gray-6: #666666;
    --color-gray-7: #3e3e3e;
    --color-gray-8: #383838;
    --color-light-gray: #F8F8F8;
    --color-latte: #E4E4E4;
    --color-pale-orange: #ECA755;
    --color-grayish-purple-red: #86494;
    --color-blue-1: #8EABC6;
    --color-blue-3: #013a56;
    --color-blue-2: #0f4e96
}
